@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #222;
  min-height: 100vh;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #fff;
    --main-color: #791515;
  }

.btn-download {
  position: relative;
  width: 200px;
  height: 70px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.8s;
  transition-delay: 0.5s;
  overflow: hidden;
}
.btn-download .fas {
  margin-right: 8px;
}
.btn-download .download {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transition: 0.3s;
}
.btn-download.active .download {
  transform: translate(-50%, 60px);
  animation: bottom_top 0.5s linear forwards;
  animation-delay: 3.4s;
}
.btn-download .completed {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -60px);
  white-space: nowrap;
  color: var(--text-color);
}
.btn-download.active .completed {
  animation: top_bottom 1.3s linear forwards;
  animation-delay: 1.5s;
}

@keyframes btn_width {
  0% {
    width: 200px; /* Mantém o tamanho inicial */
    height: 70px;
  }
  100% {
    width: 200px; /* Mantém o tamanho fixo */
    height: 70px;
  }
}

@keyframes top_bottom {
  0% {
    transform: translate(-50%, -60px);
  }
  20%,
  90% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 120%;
    transform: translate(-50%, -50%);
  }
}
@keyframes bottom_top {
  0% {
    transform: translate(-50%, 60px);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes check_scale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  20%,
  90% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, 100px) scale(1.3);
  }
}
